as-path-set EBGP-PEER-AS16509-403-PERMIT-PATHS
  ios-regex '^1116_8075_',    
  ios-regex '^11164_16509$',
  ios-regex '^11164_16509_[0-9]+$',
  ios-regex '^805_',
  ios-regex '^16509$',   
  ios-regex '^1650_[0-9]+$'
end-set
